*.jar

# .
.classpath
.project
.settings
target
/.idea
/eclipse-build
/classes
/build
/idea-build
/dist
/*~
/velocity.log
/build.properties
/*.ipr
/*.iws
/.caches
/prj.el
/bin
/bin.*
/log.out
.DS_Store
*.iml
*.class
