
*.class

.idea/copyright/profiles_settings.xml

.idea/libraries/Maven__org_apache_lucene_lucene_core_4_7_2.xml

.idea/misc.xml

.idea/workspace.xml

*.iml

src/main/java/com/salome/problems/Solve.java

src/main/java/com/salome/problems/SolveNow.java

src/main/java/com/salome/problems/SolveNow.java

src/main/java/com/salome/problems/SolveNow.java
